.col-md-3
  %table.table.table-condensed
    %tr
      %td 本日销售
      %td 
        %strong 3
        套

    %tr
      %td 总共销售
      %td 
        %strong 3
        套
    %tr
      %td 剩余销售
      %td 
        %strong 3
        套

.col-md-3
  %table.table.table-condensed
    %tr
      %td 本日销售
      %td 
        %strong 3
        套

    %tr
      %td 总共销售
      %td 
        %strong 3
        套
    %tr
      %td 剩余销售
      %td 
        %strong 3
        套

.col-md-3
  %table.table.table-condensed
    %tr
      %td 本日销售
      %td 
        %strong 3
        套

    %tr
      %td 总共销售
      %td 
        %strong 3
        套
    %tr
      %td 剩余销售
      %td 
        %strong 3
        套

.col-md-3
  %table.table.table-condensed
    %tr
      %td 本日销售
      %td 
        %strong 3
        套

    %tr
      %td 总共销售
      %td 
        %strong 3
        套
    %tr
      %td 剩余销售
      %td 
        %strong 3
        套
