.dashbord-navbar
  .glyphicon.glyphicon-briefcase
  %span.bread= @breadcrumb || "woo"


  %button.btn.btn-default.pull-right
    .glyphicon.glyphicon-wrench

  %a.btn.btn-default.pull-right{:href => new_smse_path}
    短信汇报
    
    .glyphicon.glyphicon-send

  %a.btn.btn-danger.pull-right{:href => new_log_path}
    新建报表
    .glyphicon.glyphicon-arrow-down

