.col-md-3
  %table.table.table-condensed
    %tr
      %td 本日销售
      %td 
        %strong 3
        套

    %tr
      %td 总共销售
      %td 
        %strong 3
        套
    %tr
      %td 剩余销售
      %td 
        %strong 3
        套

.col-md-3
  %table.table.table-condensed
    %tr
      %td 本日面积
      %td 
        %strong 3
        ㎡

    %tr
      %td 总售面积
      %td 
        %strong 3
        ㎡
    %tr
      %td 剩余面积
      %td 
        %strong 3
        ㎡

.col-md-3
  %table.table.table-condensed
    %tr
      %td 本日金额
      %td 
        %strong 3
        万

    %tr
      %td 总售金额
      %td 
        %strong 3
        万
    %tr
      %td 剩余金额
      %td 
        %strong 3
        万

.col-md-3
  %table.table.table-condensed
    %tr
      %td 本日均价
      %td 
        %strong 3
        元

    %tr
      %td 总共均价
      %td 
        %strong 3
        元
    %tr
      %td 剩余均价
      %td 
        %strong 3
        元
