.main-content
  .fangchan-main
    .container
      .row
        .col-md-6
          .h1
            让您的房产销售更简单
          %blockquote 一款免费、好用的团队协同工具，让你 的团队随时随地一起工作
  
          %a.btn.btn-success.btn-lg.btn-block 马上注册
  
        .col-md-6
          %img{:src => placehold(500, 200, "a7c4e8", "ffffff")}
  
  .fangchan-features
    .container
      .row
        .col-md-12.text-center
          %h2 提升团队生产力
      .row
        .col-md-3.text-center
          .feature
            %img.img-rounded{:src => placehold(150, 150, "a7c4e8", "ffffff")}
            %h3 提高效率
            %p 灵活的任务和日程，让团队成员的 效率迅速提升，工作就是这么简单
  
        .col-md-3.text-center
          .feature
            %img.img-rounded{:src => placehold(150, 150, "a7c4e8", "ffffff")}
            %h3 提高效率
            %p 灵活的任务和日程，让团队成员的 效率迅速提升，工作就是这么简单
  
        .col-md-3.text-center
          .feature
            %img.img-rounded{:src => placehold(150, 150, "d7c4e8", "ffffff")}
            %h3 提高效率
            %p 灵活的任务和日程，让团队成员的 效率迅速提升，工作就是这么简单
  
        .col-md-3.text-center
          .feature
            %img.img-rounded{:src => placehold(150, 150, "e7c4e8", "ffffff")}
            %h3 提高效率
            %p 灵活的任务和日程，让团队成员的 效率迅速提升，工作就是这么简单
