#footer
  .container-fluid
    .row
      .col-md-3.text-center
        %h4.blod 产品
        %ul.list-unstyled
          %li
            %a 功能特性
          %li
            %a 数据安全
          %li
            %a 付费方案
          %li
            %a 移动版本
      .col-md-3.text-center
        %h4 媒体
        %ul.list-unstyled
          %li
            %a 功能特性
          %li
            %a 功能特性
          %li
            %a 功能特性
          %li
            %a 功能特性
          %li
            %a 功能特性
          %li
            %a 功能特性
      .col-md-3.text-center
        %h4 支持
        %ul.list-unstyled
          %li
            %a 功能特性
          %li
            %a 功能特性
          %li
            %a 功能特性
          %li
            %a 功能特性
      .col-md-3.text-center
        %h4 更多
        %ul.list-unstyled
          %li
            %a 功能特性
          %li
            %a 功能特性
          %li
            %a 功能特性
          %li
            %a 功能特性

    .row
      .col-md-6.col-md-offset-3
        %span.center-block © 2014 worktile.com   京ICP备13017353号-3   京公网安备11010802012357号



