%ul.nav.nav-pills.nav-stacked
  %li{:class => tab_class('/dashboard')}
    %a{:href => "/dashboard"} 工作台

  %li{:class => tab_class('/sms')}
    %a{:href => "/sms"} 短信发送

  %li{:class => tab_class('/app/settings')}
    %a{:href => "/app/settings"} 系统设置
