%ul.nav.nav-pills.nav-stacked
  %li{:class => tab_class('/dashboard')}
    %a{:href => "/dashboard"} 工作台

  %li{:class => tab_class(new_smse_path)}
    %a{:href => new_smse_path} 短信发送

  %li{:class => tab_class('/app/settings')}
    %a{:href => "/app/settings"} 系统设置

  %li{:class => tab_class('/settings')}
    %a{:href => "/settings"} 个人设置
