@import "bootstrap-sprockets";
@import "bootstrap";


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  background-color: #f9f9f7;
}
ul.nav {
  li.divider-vertical {
    border-style:solid;
    border-width:1px;
    opacity:.5;
    height:58px;
    border-left-color:#111415;
    border-right-color:#646668;
  }
}

.main-content{
  margin-top: 60px;
}


#footer{
  background-color: #f9f9f7;
  margin-top: 40px;
  a {
    color: $gray;
    text-decoration: none;
    cursor: hand;
    line-height: 2em; 
  }
  a:hover {
    color: lighten(red, 30%);
  }
  a:visit {
    color: black;
  }

  span{
    padding-top: 60px;
  }
}


/*sign in & signup form */
.sign_form{
  border: 2px solid lighten($gray, 30%);
  background-color: white;
  padding-bottom: 20px;
}

/*resricted pages*/

.restricted{
  background-color: #393939;
}

.restricted-content{
  background-color: #f9f9f7;
}

.dashbord-navbar{
  line-height: 40px;
  .bread {
    font-size: 1.4em;
    padding-left: 30px;
    padding-right: 30px;
  }
      
  .btn{
    @include border-left-radius(2px);
    @include border-right-radius(2px);
    @include border-top-radius(2px);
    @include border-bottom-radius(2px);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
  }
    
}
      
#pie_charts{
  #count_charts{
    height: 200px; 
  }

  #area_charts{
    height: 200px; 
  }

  #money_charts{
    height: 200px; 
  }
}

#stacked_charts{
  #column_charts{
    height: 200px;
  }
}

.btn_submit{
  @include border-left-radius(2px);
  @include border-right-radius(2px);
  @include border-top-radius(2px);
  @include border-bottom-radius(2px);
  padding-left: 120px;
  padding-right: 120px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.nav-tabs{
  li{
  a{
    @include border-left-radius(2px);
    @include border-right-radius(2px);
    @include border-top-radius(2px);
    @include border-bottom-radius(2px);
    padding: 10px 30px;
  }
}
}
